body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2dfdf;
}

header {
    background: #242424;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.gallery img {
    width: 100%;
    height: auto;
}


.video {
    margin-top: 2em;
}

footer {
    background: #242424;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.slideshow {
    max-width: 100%;
    margin: auto;
    position: relative;
  }
  .slide {
    display: none;
  }


